.aboutsectionAMAN{
    /* border:1px solid red; */
    width: 100%;
    min-height: 300px;
    background-color: rgb(26,26,26);
    padding: 3rem 0 3rem 0;
   
}
.aboutinsideAMAN{
    width: 70%;
    min-height: 300px;
    /* border:1px solid red; */
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}
.animationAMAN{
    /* border:1px solid red; */
    width: 45%;
}
.animationPicAMAN{
    width:100%;
    margin: 1rem 0 0 0;
}
.infoAMAN{
    /* border:1px solid red; */
    width: 47%;
    text-align: left;
}
.P1AMAN{
    font-size: 3rem;
    color:rgb(177,7,255);
    font-weight: 500;
}
.P2AMAN{
    font-size: 1.2rem;
    color: white;
}

@media all and (max-width: 1200px){

    .aboutinsideAMAN{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .animationAMAN{
        width: 100%;
    }
    .infoAMAN{
        width: 100%;
        text-align: center;
    }
    .animationPicAMAN{
        width: 80%;
    }
}