
.nav-menu{
    width: 100%;
    min-height: 4.5rem;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between; 
    background-color: rgb(26,26,26);
    color: rgb(193, 191, 191);
    font-weight: 500;
}
.firstdivAMAN{
    /* border:1px solid rgb(177,7,255); */
    width: 25%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(177,7,255);
}
.seconddivAMAN{
    /* border:1px solid red; */
    width: 50%;
    min-height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
#navhomeAMAN{
    /* border:1px solid rgb(193, 191, 191); */
    min-height: 3rem;
    /* width: 100%; */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 0.7rem;
    cursor: pointer;
}
#navhomeAMAN:hover{
    background-color: rgb(177,7,255);
    color: white;
}
#navaboutAMAN{
    /* border:1px solid rgb(193, 191, 191); */
    min-height: 3rem;
    /* width: 15%; */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 0.7rem;
    cursor: pointer;
}
#navaboutAMAN:hover{
    background-color: rgb(177,7,255);
    color: white;
}
#navskillsAMAN{
    /* border:1px solid rgb(193, 191, 191); */
    min-height: 3rem;
    /* width: 15%; */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 0.7rem;
    cursor: pointer;
}
#navskillsAMAN:hover{
    background-color: rgb(177,7,255);
    color: white;
}
#navprojectsAMAN{
    /* border:1px solid rgb(193, 191, 191); */
    min-height: 3rem;
    /* width: 15%; */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 0.7rem;
    cursor: pointer;
}
#navprojectsAMAN:hover{
    background-color: rgb(177,7,255);
    color: white;
}
#navresumeAMAN{
    /* border:1px solid rgb(193, 191, 191); */
    min-height: 3rem;
    /* width: 15%; */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 0.7rem;
    cursor: pointer;
}
#navresumeAMAN:hover{
    background-color: rgb(177,7,255);
    color: white;
}
#navcontactAMAN{
    border:none;
    min-height: 3rem;
    /* width: 15%; */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0 0.7rem;
    cursor: pointer;
}
#navcontactAMAN:hover{
    background-color: rgb(177,7,255);
    color: white;
}

.ham{
    margin-right: 3rem;
    display: none;
}



@media all and (max-width: 1250px){
    #navhomeAMAN{
        font-size: 0.5rem;
        padding: 0 0.2rem;
        /* width: 13%;    */
    }
    #navskillsAMAN{
        font-size: 0.5rem;
        /* width: 13%;    */
        padding: 0 0.2rem;
    }
    #navprojectsAMAN{
        font-size: 0.5rem;
        /* width: 13%;    */
        padding: 0 0.2rem;
    }
    #navcontactAMAN{
        font-size: 0.5rem;
        /* width: 13%;    */
        padding: 0 0.2rem;
    }
    #navresumeAMAN{
        font-size: 0.5rem;
        padding: 0 0.2rem;
        /* width: 13%;    */
    }
    .seconddivAMAN{
       width:70%;
    }
    .firstdivAMAN{
        width:30%;
        font-size: 1.2rem;
    }
}

@media all and (max-width: 730px){
    #seconddivAMAN{
        display: none; 
    }
    .firstdivAMAN{
        width:52%;
        font-size: 0.8rem;
    }
    .hamAMAN{
        margin-right: 3rem;
        display: block;
    }
}
