
.ProjectContainer{
    width: 100%;
    min-height: 102rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.firsrP{
     font-size: 3rem;
     width: 38%;
     margin: 0 0 0 -54rem;
     color: orange;
     font-weight: 600;
}

.secondP{
    font-size: 1.2rem;
    width:50%;
    margin: 0 0 0 -44rem;
    color: rgb(199, 192, 192);
}

.project-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width:75%;
    min-height: 400px;
    border: 1px solid rgb(199, 192, 192);
    margin-top: 5rem;
    border-radius: 7px;
}

.Pro1a{
    width: 52%;
    min-height: 370px;
}
.Pro1a>img{
    width: 100%;
    min-height: 370px;
}
.Pro1b{
    width: 42%;
    min-height: 370px;
    text-align: left;
    margin-left: 2rem;

}
.project-title{
    font-size: 2rem;
    font-weight: 700;
    color:rgb(199, 192, 192);
}

.Pr2{
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color:rgb(199, 192, 192);

}
.project-description{
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color:rgb(199, 192, 192);
}

.project-tech-stack{
    font-size: 1.05rem;
    margin-top: 1rem;
    font-weight: 600;
    color:orange;
}

.btnDiv{
    display: flex;
    justify-content: space-between;
    width: 70%;
    min-height: 45px;
    /* margin-top: 0.7rem; */
    margin: 1.5rem auto auto 1rem ;

}

.project-github-link{
     border: 1px solid rgb(199, 192, 192);
     font-size: 1.2rem;
     width: 8.5rem;
     min-height: 2.3rem;
     border-radius: 8px;
     font-weight: 700;
     color:rgb(199, 192, 192)
}

.project-github-link:hover{
    background-color: white;
    color: black;
}

.project-deployed-link{
      border: 1px solid rgb(199, 192, 192);
     font-size: 1.2rem;
     width: 8.5rem;
     min-height: 2.3rem;
     border-radius: 8px;
     font-weight: 700;
     color:rgb(199, 192, 192)
}

.project-deployed-link:hover{
    background-color: white;
    color: black;
}




@media all and (max-width: 600px){

    .Pro1a{
        width: 92%;
       
    }
    .project-card{
  
        width:95%;
   
    }
    .pic{
        width:100%;
    }

    .ProjetContainer{
        width:100%;
    }





}