
.skillAMAN{
    width: 100%;
    min-height: 47rem;
    /* border:1px solid blue; */
    background-color: black;
    padding: 0.1rem 0 2rem 0;
}

.skillPAMAN{
    font-size: 2.6rem;
    font-weight: 600;
    /* border:1px solid red; */
   text-align: left;
   margin: 2rem 0 0 10rem;
   width:100%;
   color: white;
}

.skillinsideAMAN{
    width: 65%;
    min-height: 34rem;
    border:1px solid white;
    margin: 2rem auto auto auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    border-radius: 1rem;
    background-color: black;
    padding: 2rem 1rem 3rem 1.5rem;
}
.skills-card{
    /* border:1px solid red; */
    width:60%;
    height: 7rem;
    margin: auto;
}
.skills-card-img{
    width: 100%;
}